body {
  overflow-x: hidden;
  outline: none;
}
body ul li {
  list-style-type: none;
}
body h1,
body h2,
body h3,
body h4,
body h5 {
  font-family: 'Roboto Slab', serif;
}
body h6 {
  font-family: 'Roboto', sans-serif;
}
header {
  height: 120px;
}
input[type='radio'] {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
input[type='radio']:focus {
  outline: none !important;
}
input[type='radio'] + label {
  cursor: pointer;
}
input[type='radio']:not(checked) {
  position: absolute;
  opacity: 0;
}
input[type='radio']:not(checked) + label {
  position: relative;
  padding: 0 0 0 22px;
  line-height: 12px;
}
input[type='radio']:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 13px;
  height: 13px;
  border: 2px solid #000;
  border-radius: 50%;
  background: #FFF;
}
input[type='radio']:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 1px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #000;
  opacity: 0;
  transition: all .2s;
}
input[type='radio']:checked + label:after {
  opacity: 1;
}
input[type='radio']:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255, 255, 0, 0.5);
}
.right {
  float: right;
}
.offset-5-per {
  margin-left: 5%;
}
input[type='number'] {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 50px;
  height: 20px;
  padding: 0px;
  font-size: 14pt;
  border: solid 0.5px #000;
  z-index: 1;
}
.spinner-button {
  position: absolute;
  cursor: default;
  z-index: 2;
  background-color: #ccc;
  width: 14.5px;
  text-align: center;
  margin: 0px;
  pointer-events: none;
  height: 10px;
  line-height: 10px;
}
#inc-button {
  left: 79px;
  top: 10.5px;
  background: url("../img/arrow-counter.jpg");
  width: 35px;
  height: 20px;
}
#dec-button {
  left: 77px;
  top: 30.5px;
  background: url('../img/arrow-counter.jpg');
  width: 35px;
  height: 15px;
  transform: rotate(180deg);
}
.no-padd {
  padding: 0 !important;
}
.main {
  margin-top: 50px;
}
.main h2 {
  margin-top: 30px;
  color: #1e1e1e;
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 18px;
}
.main img[alt='line'] {
  margin-bottom: 78px;
}
.main .offset-name {
  margin-left: 14% ;
}
.main .name h5 {
  color: #212121;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.main .toggle.is-hidden {
  display: none;
}
.main .toggle-target {
  display: none;
}
.main .toggle-target.is-visible {
  display: block;
}
.main .basket_line {
  border: 1px solid #1e1e1e;
  padding: 5px;
}
.main .basket_line:last-child {
  border-top: none;
}
.main .basket_line .no-padd {
  width: 14.1%;
}
.main .basket_line .product-title {
  margin-left: -5px;
}
.main .basket_line h3 {
  color: black;
  font-family: 'Roboto Slab', serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 25px;
}
.main .basket_line h4 {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.35px;
}
.main .basket_line h5 {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
}
.main .basket_line label {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}
.main .basket_line .sort {
  margin-top: 1.5%;
}
.main .basket_line .number {
  margin-top: 2.2%;
  margin-left: 6%;
}
.main .basket_line .number input {
  width: 105px;
  height: 38px;
  border: 1px solid black;
  padding: 7px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
}
.main .basket_line .number input:focus {
  outline: none !important;
}
.main .basket_line .cost {
  margin-top: 2.7%;
}
.main .totals {
  margin-top: 15px;
}
.main .totals h5 {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
}
.main .but {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  width: 100%;
  margin-top: 17px;
}
.main .but div:first-child {
  margin-left: -32px;
  width: 40%;
}
.main .but a {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: underline;
}
.main .but a i {
  display: block;
  float: left;
  background: url("../img/arrow-counter.png");
  width: 11px;
  height: 6px;
  transform: rotate(-90deg);
  margin-top: 9px;
  margin-right: 15px;
}
.main .but .col-sm-8 {
  float: right;
  margin-left: 0;
  width: 460px;
}
.main .but button {
  width: 460px;
  height: 44px;
  background-color: #ac0000;
  border: 1px solid #ac0000;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.40px;
  text-transform: uppercase;
}
.main .form {
  margin-top: 130px;
  font-weight: 700;
}
.main .form .col-md-6 {
  width: 39.4%;
  padding: 0;
}
.main .form input[type="text"] {
  outline: none !important;
  max-width: 460px;
  width: 100%;
  height: 45px ;
  border: 1px solid black !important;
  box-sizing: border-box;
  background: #fff !important;
  border-radius: inherit !important;
  padding: 10px 15px;
}
.main .form p {
  margin-top: 20px;
  margin-left: 20px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
}
.main .form label {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 20px;
}
.main .form select {
  width: 80%;
  padding: 5.5px;
}
.main .form .save {
  margin-top: 40px;
}
.main .form .save p {
  margin-top: -21px;
}
.main .form .result {
  text-align: center;
  background: #f0f0f0;
  margin-top: 43px;
  width: 100%;
  padding: 50px;
}
.main .form .res {
  float: right;
}
.main .form .res h4 {
  margin-bottom: 0;
}
.main .form .res button {
  max-width: 418px;
  position: absolute;
  bottom: -95px;
  right: 0;
  width: 100%;
  height: 44px;
  background-color: #ac0000;
  border: 1px solid #ac0000;
  float: right;
  color: white;
  letter-spacing: 1.5px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
footer {
  margin-top: 50px;
  background: #191919;
  color: #b4b4b4;
}
footer .last {
  padding-top: 10px;
  padding-bottom: 10px;
}
footer .logo {
  margin-bottom: 50px;
}
footer a {
  color: #b4b4b4;
  text-decoration: underline;
}
footer a:hover {
  color: #b4b4b4;
}
footer a:focus {
  color: #b4b4b4;
}
footer a:visited {
  color: #b4b4b4;
}
footer button {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  margin-top: 5px;
}
footer .first {
  border-bottom: 1px solid #5e5e5e;
}
footer .left {
  border-left: 1px solid #5e5e5e;
  border-right: 1px solid #5e5e5e;
}
footer .icon {
  position: absolute;
  margin-left: -7%;
  margin-top: 2%;
}
footer .phone {
  float: right;
  margin-left: -20px;
}
/*---------------------@media-------------------*/
@media (min-width: 320px) and (max-width: 767px) {
  .main .but a i {
    display: none;
  }
  .main .basket_line {
    width: 85%;
    margin: auto;
  }
  .main h2 {
    font-size: 24px;
  }
  .main img[alt='line'] {
    width: 60%;
    margin-bottom: 25px;
  }
  .main .but {
    margin-left: 0;
    width: 100%;
    margin-top: 17px;
    align-items: center;
  }
  .main .but div:first-child {
    margin-left: 0;
  }
  .main .but button {
    width: 100%;
    font-size: 14px;
  }
  .main .but .col-sm-8 {
    width: 40%;
  }
  nav .col-md-offset-5 button {
    margin-top: 0;
    margin-left: 0;
    padding: 5px;
    width: 100%;
  }
  nav .social {
    margin-top: 10px;
  }
  nav .nav {
    margin-top: 40px;
  }
  nav .nav .dropdown {
    width: 161%;
    margin-left: -31%;
  }
  .main {
    text-align: center;
  }
  .main input {
    width: 100%;
  }
  .main button {
    width: 100%;
  }
  .main .form p {
    margin-left: 0;
  }
  footer {
    text-align: left;
  }
  footer button {
    margin-bottom: 20px;
  }
  footer .icon {
    position: relative;
    margin-left: 9%;
    margin-top: 2%;
  }
  footer .phone {
    float: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main .basket_line .number {
    margin-left: inherit;
  }
  nav {
    background: #121212;
  }
  nav .col-md-offset-5 button {
    margin-left: 0;
    width: 66%;
  }
  nav img[alt="logo"] {
    width: 100%;
  }
  nav button {
    background: none;
    border: 1px solid white;
    color: white;
    text-decoration: underline;
    padding: 5px 10px;
    margin-top: 30px;
  }
  nav .social {
    margin-top: 6px;
    margin-left: 6%;
    width: 83%;
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  nav a:hover {
    color: white;
    text-decoration: underline;
  }
  nav a:visited {
    color: white;
    text-decoration: none;
  }
  nav .nav {
    margin-left: 5%;
    margin-top: 14px;
  }
  nav .nav a:visited {
    color: white;
    text-decoration: none;
  }
  nav .nav .magazine {
    margin-left: 0;
  }
  nav .nav li {
    display: inline-block;
    margin-right: 0;
    padding: 13px 0;
  }
  nav .nav li:first-child {
    margin-right: 10px;
    background-color: #2e982e;
    padding: 0 7px;
    color: white;
    border-radius: 5px;
  }
  nav .nav li:first-child a:hover {
    background: none;
    text-decoration: none;
  }
  nav .nav li:first-child a:visited {
    text-decoration: none;
  }
  nav .nav li:nth-child(2) {
    margin-right: 10px;
    background-color: #3498db;
    padding: 0 7px;
    color: white;
    border-radius: 5px;
  }
  nav .nav li:nth-child(2) a:hover {
    background: none;
    text-decoration: none;
  }
  nav .nav li:nth-child(2) a:visited {
    text-decoration: none;
  }
  nav .nav li a:hover {
    background-color: #282828;
    text-decoration: none;
  }
  nav .nav .dropdown {
    position: absolute;
    margin-left: 0;
    background: #b2b2b2;
    z-index: 10;
    padding: -1px;
    margin-top: 24px;
    width: 100%;
  }
  nav .nav .dropdown li {
    display: inline-block;
    margin-right: 20px;
    padding: 25px 0;
  }
  nav .nav .dropdown li a {
    color: #212121;
    text-decoration: underline;
  }
  nav .nav .dropdown li a:hover {
    background: none;
    text-decoration: none;
  }
  nav .nav .dropdown li:first-child {
    background: none;
  }
  nav .nav .dropdown li:nth-child(2) {
    background: none;
  }
  nav .nav .dropdown:before {
    content: '';
    border: 12px solid transparent;
    border-bottom: 12px solid #b2b2b2;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    top: -24px;
    width: 0;
  }
  nav .nav .dropdown {
    display: none;
  }
  nav .nav > li:hover .dropdown {
    display: block;
  }
  footer {
    margin-top: 50px;
    background: #191919;
    color: #b4b4b4;
  }
  footer .logo {
    margin-bottom: 50px;
  }
  footer a {
    color: #b4b4b4;
    text-decoration: underline;
  }
  footer a:hover {
    color: #b4b4b4;
  }
  footer a:focus {
    color: #b4b4b4;
  }
  footer a:visited {
    color: #b4b4b4;
  }
  footer ul li {
    margin-top: 8px;
  }
  footer button {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    margin-top: 5px;
  }
  footer .first {
    border-bottom: 1px solid #5e5e5e;
    text-align: center;
  }
  footer .left {
    border-left: 1px solid #5e5e5e;
    border-right: 1px solid #5e5e5e;
  }
  footer .social {
    border-left: 1px solid #5e5e5e;
    margin-left: -1px;
  }
  footer .icon {
    position: relative;
    margin-left: 57%;
    margin-top: 2%;
  }
  footer .phone {
    float: right;
  }
}
@media (max-width: 991px) {
  .main .form {
    margin-top: 80px;
  }
  .main .form .col-md-6 {
    width: 100%;
    padding: 0;
    max-width: 460px;
  }
  .main .form .res button {
    position: static;
    margin-top: 40px;
    float: inherit;
    max-width: 100%;
  }
  .main .form-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (width: 1024px) {
  nav .col-md-offset-5 button {
    width: 127%;
    margin-left: 15%;
  }
  footer .container .last {
    margin-top: 20px;
  }
}
@media (max-width: 500px) {
  .main .form .col-md-6 {
    width: 100%;
    padding: 0;
    max-width: 92% !important;
  }
  .but {
    display: flex;
    flex-direction: column;
  }
  .but div {
    width: 100% !important;
    margin-top: 10px;
  }
  .main h2 {
    width: 80%;
    margin: 0  auto 10px;
  }
  .main .basket_line label {
    width: 130px;
    text-align: left;
  }
}
.ui-selectmenu-button.ui-button {
  max-width: 460px;
  width: 100%;
  height: 45px ;
  border: 1px solid black;
  box-sizing: border-box;
  background: #fff ;
  border-radius: inherit;
  padding: 10px 15px;
  line-height: 13px;
  outline: none;
}
.ui-selectmenu-text {
  font-family: 'Roboto', sans-serif;
  color: black;
  letter-spacing: 0.5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.ui-button .ui-icon {
  background-image: url("../images/arrow-drop.png");
  width: 15px;
  height: 9px;
  background-repeat: no-repeat;
  margin-top: 8px;
}
.ui-button:hover .ui-icon {
  background-image: url("../images/arrow-drop.png");
}
.ui-button:focus .ui-icon {
  background-image: url("../images/arrow-drop.png");
}
.ui-icon-triangle-1-s {
  background-position: 0;
}
.ui-menu .ui-menu-item-wrapper {
  position: relative;
  padding: 8px 15px;
  font-family: 'Roboto', sans-serif;
  color: black;
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: 400;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
  font-weight: normal;
  color: black;
}
.form .widget {
  outline: none !important;
}
.form .ui-checkboxradio-label {
  margin-left: 0 !important;
  padding: 0;
  margin-top: 43px;
  background: white;
  border: 0;
  outline: none !important;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.form .ui-checkboxradio-label:hover {
  border: none;
  background: white;
  font-weight: normal;
  color: black;
}
.form .ui-checkboxradio-icon {
  background-image: url(../images/checkbox.png);
  margin-top: 0 !important;
  background-size: 22px;
  background-position: center center;
  margin-right: 26px;
  width: 27px;
  height: 27px;
  float: left;
  border-radius: 0;
  border: 1px solid black;
  box-sizing: border-box;
  box-shadow: none;
}
.form .ui-checkboxradio-icon:hover {
  background-image: url(../images/checkbox.png);
  background-size: 22px;
  background-position: center center;
}
.ui-checkboxradio-label:hover .ui-checkboxradio-icon {
  background-image: url(../images/checkbox.png);
  background-size: 22px;
  background-position: center center;
}
.ui-checkboxradio-checked {
  background-image: none !important;
}
.ui-state-checked {
  background-image: none !important;
}
