body {
  overflow-x: hidden;
}
body ul li {
  list-style-type: none;
}
body h2 {
  font-weight: 700;
}
body button {
  outline: none;
}
body h1,
body h2,
body h3,
body h4,
body h5 {
  font-family: 'Roboto Slab', serif;
}
body h6 {
  font-family: 'Roboto', sans-serif;
}
body .bug_input {
  margin-left: 10px;
}
body .radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
}
body .radio + label {
  cursor: pointer;
  text-align: left;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  margin: 0;
}
body .radio:not(checked) {
  position: absolute;
  opacity: 0;
}
body .radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 27px;
}
body .radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #ac0000;
  border-radius: 50%;
  background: #FFF;
}
body .radio:not(checked) + label.active:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 3px;
  width: 11px;
  height: 11px;
  background-color: #ac0000;
  border-radius: 50%;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  transition: all .2s;
}
body .radio:checked + label.active:after {
  opacity: 1;
}
.item_cafe-flex {
  display: flex;
  flex-direction: column;
  position: relative;
}
.item_cafe-flex .af {
  top: 33px;
  left: 0px;
  margin: 0;
}
.item_cafe-flex .bf {
  top: 58px;
}
.outer-wrapper {
  margin-top: 120px;
}
.outer-wrapper:before {
  display: none;
}
.basket {
  background: #2e982e;
  width: 215px;
  height: 36px;
  padding: 0;
  margin: 0;
  float: right;
  margin-right: 1%;
  position: relative;
  z-index: 1;
}
.basket .row {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  height: 36px;
  align-items: center;
  padding: 0 10px;
}
.basket .row div:first-child {
  width: 28px;
  margin-right: 4px;
}
.basket .row div:last-child {
  display: flex;
  align-items: center;
}
.basket span {
  float: left;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  font-weight: 400;
  height: 36px;
}
.basket p {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}
.basket i {
  background: url("../img/arrow-basket.png");
  width: 6px;
  height: 11px;
  float: right;
  margin-left: 19px;
  display: block;
}
.section-title {
  margin: 0;
  color: #1e1e1e;
  font-size: 35px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0.35px;
}
img[alt='line'] {
  margin: 15px 0;
}
.section-subtitle {
  color: #1e1e1e;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  text-transform: lowercase;
  letter-spacing: 0.35px;
  font-size: 16px;
}
.main {
  margin-top: 225px;
}
.main .slide_1 h2,
.main .slide_2 h2,
.main .slide_3 h2,
.main .slide_4 h2 {
  width: 54%;
  background: #ac0000;
  padding: 10px 10px;
  color: #fff;
}
.main .single-item {
  margin-top: 50px;
}
.main .single-item img {
  margin-top: -30px;
  width: 100%;
}
.main .single-item .prod {
  margin-top: 80px;
}
.main .single-item img[alt="product_2"] {
  margin-top: -14px;
}
.main .single-item img[alt="product_4"] {
  margin-top: -24px;
}
.main .single-item h4 {
  background-color: #920000;
  padding: 5px;
  color: white;
}
.main .single-item .next {
  margin-top: -20%;
  margin-left: 92%;
  position: absolute;
}
.main .single-item .prev,
.main .single-item .next {
  border: none;
  background: none;
}
.main .single-item .prev {
  position: absolute;
  margin-left: -5%;
  margin-top: 9%;
}
.main .single-item h6 {
  margin-top: -20px;
  font-weight: 700;
}
.main .single-item .last {
  background: #3498db;
  margin-left: -30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  color: white;
  padding: 10px;
}
.main .single-item .first {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #5d973a;
  border: none;
  color: white;
  padding: 10px;
}
.main .single-item button {
  padding: 30px;
  border-radius: 3px;
}
.product .container {
  width: 98%;
}
.product h2 {
  font-size: 35px;
  color: #1e1e1e;
  font-weight: 700;
  margin-top: 0px;
}
.product .product-title {
  margin-bottom: 50px;
}
.product h4 {
  margin-top: 50px;
}
.product .item-cafe,
.mono .item-cafe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.product .item-cafe .new-item,
.mono .item-cafe .new-item {
  position: absolute;
  z-index: 1;
  left: 35%;
  transform: rotate(-10deg);
}
.product .item-cafe img.absol,
.mono .item-cafe img.absol {
  position: absolute;
  width: auto !important;
  left: 19px;
  z-index: 1;
  top: -22px;
  height: 300px;
}
.product .item-cafe h4,
.mono .item-cafe h4 {
  margin-bottom: 15px;
  color: black;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;
}
.product .item-cafe h5,
.mono .item-cafe h5 {
  color: black;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}
.product .item-cafe h6,
.mono .item-cafe h6 {
  color: black;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.product .item-cafe button,
.mono .item-cafe button {
  background: #2e982e;
  border: none;
  border-radius: 4px;
  padding: 11.5px 21.5px;
  height: 44px;
  color: white;
  margin-top: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 400;
  text-transform: uppercase;
}
.product .item-cafe .bg-kupazh,
.mono .item-cafe .bg-kupazh {
  position: relative;
  height: 217px;
  cursor: pointer;
  width: 85%;
  overflow: hidden;
}
.product .item-cafe .bg-kupazh:hover .hov,
.mono .item-cafe .bg-kupazh:hover .hov {
  opacity: 1;
}
.product .item-cafe .bg-kupazh img,
.mono .item-cafe .bg-kupazh img {
  height: 100%;
  width: auto;
}
.product .item-cafe .bg-kupazh .hov,
.mono .item-cafe .bg-kupazh .hov {
  transition: 0.3s;
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.product .item-cafe .bg-kupazh .hov h6,
.mono .item-cafe .bg-kupazh .hov h6 {
  color: white;
  display: block;
  position: absolute;
  letter-spacing: 0.35px;
  right: 0;
  bottom: 0;
  margin: 0;
  padding-right: 22px;
  text-align: right;
  width: 100%;
  height: 43px;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 43px;
  text-transform: uppercase;
}
.product .glob_item,
.mono .glob_item {
  margin-top: 50px;
}
.product .glob_item h3,
.mono .glob_item h3 {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.5px;
  margin-top: 40px;
  margin-bottom: 65px;
}
.line_gray {
  width: 100%;
  margin: 0 58px 0 58px;
  height: 1px;
  background: #000;
  box-sizing: border-box;
}
.rec {
  margin-top: 80px;
}
.rec .container {
  width: 100%;
}
.rec .outer-recomend {
  width: 95%;
  margin: auto;
}
.rec .outer-recomend .col-md-3 {
  width: 24.98%;
}
.rec .item-rec {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.rec .item-rec img {
  width: 100%;
}
.rec .item-rec h5 {
  margin: 0;
  color: black;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: 400;
}
.rec .item-rec h4 {
  margin-bottom: 30px;
  margin-top: 40px;
  color: black;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  font-weight: 400;
}
.rec .row {
  display: flex;
  flex-wrap: wrap;
}
.rec .rec-title {
  color: black;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 25px;
  font-weight: 300;
  margin-left: 43px;
  width: 100%;
}
.rec button {
  background: #2e982e;
  border: none;
  border-radius: 4px;
  padding: 11.5px 21.5px;
  height: 44px;
  color: white;
  margin-top: 19px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 400;
  text-transform: uppercase;
}
footer {
  margin-top: 50px;
  background: #191919;
  color: #b4b4b4;
}
footer .last {
  padding-top: 10px;
  padding-bottom: 10px;
}
footer .logo {
  margin-bottom: 50px;
}
footer a {
  color: #b4b4b4;
  text-decoration: underline;
}
footer a:hover {
  color: #b4b4b4;
}
footer a:focus {
  color: #b4b4b4;
}
footer a:visited {
  color: #b4b4b4;
}
footer button {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  margin-top: 5px;
}
footer .first {
  border-bottom: 1px solid #5e5e5e;
}
footer .left {
  border-left: 1px solid #5e5e5e;
  border-right: 1px solid #5e5e5e;
}
footer .icon {
  position: absolute;
  margin-left: -7%;
  margin-top: 2%;
}
footer .phone {
  float: right;
  margin-left: -20px;
}
/*---------------------@media-------------------*/
@media (min-width: 320px) and (max-width: 767px) {
  .section-title {
    font-size: 24px;
  }
  img[alt='line'] {
    width: 90%;
  }
  .basket {
    width: 103px;
  }
  .basket p {
    display: none;
  }
  .basket i {
    margin-left: 10px;
  }
  nav .col-md-offset-5 button {
    margin-top: 0;
    margin-left: 0;
    padding: 5px;
    width: 100%;
  }
  nav .social {
    margin-top: 10px;
  }
  nav .nav {
    margin-top: 40px;
  }
  nav .nav .dropdown {
    width: 161%;
    margin-left: -31%;
  }
  .main {
    text-align: center;
  }
  footer {
    text-align: center;
  }
  footer button {
    margin-bottom: 20px;
  }
  footer .icon {
    position: relative;
    margin-left: 9%;
    margin-top: 2%;
  }
  footer .phone {
    float: none;
  }
}
@media (max-width: 991px) {
  .product .item-cafe img.absol,
  .mono .item-cafe img.absol {
    left: 16%;
  }
  .product .item-cafe button,
  .mono .item-cafe button {
    margin-bottom: 50px;
  }
  .bg-kupazh {
    width: 68% !important;
  }
  .bg-kupazh img {
    width: 100% !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  nav {
    background: #121212;
  }
  nav .col-md-offset-5 button {
    margin-left: 0;
    width: 66%;
  }
  nav img[alt="logo"] {
    width: 100%;
  }
  nav button {
    background: none;
    border: 1px solid white;
    color: white;
    text-decoration: underline;
    padding: 5px 10px;
    margin-top: 30px;
  }
  nav .social {
    margin-top: 6px;
    margin-left: 6%;
    width: 83%;
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  nav a:hover {
    color: white;
    text-decoration: underline;
  }
  nav a:visited {
    color: white;
    text-decoration: none;
  }
  nav .nav {
    margin-left: 5%;
    margin-top: 14px;
  }
  nav .nav a:visited {
    color: white;
    text-decoration: none;
  }
  nav .nav .magazine {
    margin-left: 0;
  }
  nav .nav li {
    display: inline-block;
    margin-right: 0;
    padding: 13px 0;
  }
  nav .nav li:first-child {
    margin-right: 10px;
    background-color: #2e982e;
    padding: 0 7px;
    color: white;
    border-radius: 5px;
  }
  nav .nav li:first-child a:hover {
    background: none;
    text-decoration: none;
  }
  nav .nav li:first-child a:visited {
    text-decoration: none;
  }
  nav .nav li:nth-child(2) {
    margin-right: 10px;
    background-color: #3498db;
    padding: 0 7px;
    color: white;
    border-radius: 5px;
  }
  nav .nav li:nth-child(2) a:hover {
    background: none;
    text-decoration: none;
  }
  nav .nav li:nth-child(2) a:visited {
    text-decoration: none;
  }
  nav .nav li a:hover {
    background-color: #282828;
    text-decoration: none;
  }
  nav .nav .dropdown {
    position: absolute;
    margin-left: 0;
    background: #b2b2b2;
    z-index: 10;
    padding: -1px;
    margin-top: 24px;
    width: 100%;
  }
  nav .nav .dropdown li {
    display: inline-block;
    margin-right: 20px;
    padding: 25px 0;
  }
  nav .nav .dropdown li a {
    color: #212121;
    text-decoration: underline;
  }
  nav .nav .dropdown li a:hover {
    background: none;
    text-decoration: none;
  }
  nav .nav .dropdown li:first-child {
    background: none;
  }
  nav .nav .dropdown li:nth-child(2) {
    background: none;
  }
  nav .nav .dropdown:before {
    content: '';
    border: 12px solid transparent;
    border-bottom: 12px solid #b2b2b2;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    top: -24px;
    width: 0;
  }
  nav .nav .dropdown {
    display: none;
  }
  nav .nav > li:hover .dropdown {
    display: block;
  }
  .main {
    text-align: center;
  }
  footer {
    margin-top: 50px;
    background: #191919;
    color: #b4b4b4;
  }
  footer .logo {
    margin-bottom: 50px;
  }
  footer a {
    color: #b4b4b4;
    text-decoration: underline;
  }
  footer a:hover {
    color: #b4b4b4;
  }
  footer a:focus {
    color: #b4b4b4;
  }
  footer a:visited {
    color: #b4b4b4;
  }
  footer ul li {
    margin-top: 8px;
  }
  footer button {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    margin-top: 5px;
  }
  footer .first {
    border-bottom: 1px solid #5e5e5e;
    text-align: center;
  }
  footer .left {
    border-left: 1px solid #5e5e5e;
    border-right: 1px solid #5e5e5e;
  }
  footer .social {
    border-left: 1px solid #5e5e5e;
    margin-left: -1px;
  }
  footer .icon {
    position: relative;
    margin-left: 57%;
    margin-top: 2%;
  }
  footer .phone {
    float: right;
  }
}
@media (width: 1024px) {
  nav .col-md-offset-5 button {
    width: 127%;
    margin-left: 15%;
  }
  footer .container .last {
    margin-top: 20px;
  }
}
@media (max-width: 750px) {
  .basket {
    margin-top: 14px;
  }
}
@media (max-width: 650px) {
  .rec .rec-title {
    margin-left: 0;
  }
  .basket {
    margin-top: 34px;
  }
}
@media (max-width: 380px) {
  .basket {
    margin-top: 10px;
  }
  .bg-kupazh {
    width: 80% !important;
  }
  .product .item-cafe img.absol,
  .mono .item-cafe img.absol {
    left: 8%;
  }
}
@media (max-width: 744px) {
  .rec .row {
    justify-content: center;
  }
}
