body {
  overflow-x: hidden;
  outline: none;
}
body ul li {
  list-style-type: none;
}
body h1,
body h2,
body h3,
body h4,
body h5 {
  font-family: 'Roboto Slab', serif;
}
body h6 {
  font-family: 'Roboto', sans-serif;
}
header {
  height: 120px;
}
.main {
  background-color: #f5f5f5;
}
.main h2 {
  margin-top: 80px;
  font-weight: 700;
  font-size: 35px;
}
.main .icons {
  margin-top: 50px;
  margin-bottom: 50px;
}
.main .icons .icon {
  margin-left: 20%;
}
.main .icons h5 {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.main .icons h5 span {
  font-weight: 700;
}
.feedback1 .form {
  margin-top: 50px;
  font-weight: 700;
}
.feedback1 .form h2 {
  color: #1e1e1e;
  font-size: 35px;
  font-weight: 700;
  margin-top: 70px;
  margin-bottom: 20px;
}
.feedback1 .form form p {
  margin-left: 5px;
  margin-bottom: 5px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.feedback1 .form form h6 {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0;
}
.feedback1 .form form input {
  width: 100%;
  padding: 5px;
  border: 1px solid black;
}
.feedback1 .form form textarea {
  width: 100%;
  border: 1px solid black;
}
.feedback1 .form form button {
  margin-top: 36.5px;
  margin-bottom: 20px;
  background-color: #ac0000;
  width: 100%;
  border: none;
  padding: 10px;
  letter-spacing: 1.5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.feedback1 .form form h4 {
  font-weight: 700;
  margin-bottom: 70px;
}
.feedback1 .form h5 {
  font-weight: 700;
}
.want {
  margin-top: 80px;
}
.want h2 {
  color: #1e1e1e;
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 0;
}
.want h3 {
  padding: 10px;
  border: 1px solid #920000;
  color: #ac0000;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 40px;
}
.want h4 {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
footer {
  margin-top: 50px;
  background: #191919;
  color: #b4b4b4;
}
footer .last {
  padding-top: 10px;
  padding-bottom: 10px;
}
footer .logo {
  margin-bottom: 50px;
}
footer a {
  color: #b4b4b4;
  text-decoration: underline;
}
footer a:hover {
  color: #b4b4b4;
}
footer a:focus {
  color: #b4b4b4;
}
footer a:visited {
  color: #b4b4b4;
}
footer button {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  margin-top: 5px;
}
footer .first {
  border-bottom: 1px solid #5e5e5e;
}
footer .left {
  border-left: 1px solid #5e5e5e;
  border-right: 1px solid #5e5e5e;
}
footer .icon {
  position: absolute;
  margin-left: -7%;
  margin-top: 2%;
}
footer .phone {
  float: right;
  margin-left: -20px;
}
/*---------------------@media-------------------*/
@media (min-width: 320px) and (max-width: 767px) {
  nav .col-md-offset-5 button {
    margin-top: 0;
    margin-left: 0;
    padding: 5px;
    width: 100%;
  }
  nav .social {
    margin-top: 10px;
  }
  nav .nav {
    margin-top: 40px;
  }
  nav .nav .dropdown {
    width: 161%;
    margin-left: -31%;
  }
  .main {
    text-align: center;
  }
  .main .icons .icon {
    margin-left: 0;
  }
  footer {
    text-align: center;
  }
  footer ul {
    margin-left: -33px;
  }
  footer button {
    margin-bottom: 20px;
  }
  footer .icon {
    position: relative;
    margin-left: 9%;
    margin-top: 2%;
  }
  footer .phone {
    float: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  nav {
    background: #121212;
  }
  nav .col-md-offset-5 button {
    margin-left: 0;
    width: 66%;
  }
  nav img[alt="logo"] {
    width: 100%;
  }
  nav button {
    background: none;
    border: 1px solid white;
    color: white;
    text-decoration: underline;
    padding: 5px 10px;
    margin-top: 30px;
  }
  nav .social {
    margin-top: 6px;
    margin-left: 6%;
    width: 83%;
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  nav a:hover {
    color: white;
    text-decoration: underline;
  }
  nav a:visited {
    color: white;
    text-decoration: none;
  }
  nav .nav {
    margin-left: 5%;
    margin-top: 14px;
  }
  nav .nav a:visited {
    color: white;
    text-decoration: none;
  }
  nav .nav .magazine {
    margin-left: 0;
  }
  nav .nav li {
    display: inline-block;
    margin-right: 0;
    padding: 13px 0;
  }
  nav .nav li:first-child {
    margin-right: 10px;
    background-color: #2e982e;
    padding: 0 7px;
    color: white;
    border-radius: 5px;
  }
  nav .nav li:first-child a:hover {
    background: none;
    text-decoration: none;
  }
  nav .nav li:first-child a:visited {
    text-decoration: none;
  }
  nav .nav li:nth-child(2) {
    margin-right: 10px;
    background-color: #3498db;
    padding: 0 7px;
    color: white;
    border-radius: 5px;
  }
  nav .nav li:nth-child(2) a:hover {
    background: none;
    text-decoration: none;
  }
  nav .nav li:nth-child(2) a:visited {
    text-decoration: none;
  }
  nav .nav li a:hover {
    background-color: #282828;
    text-decoration: none;
  }
  nav .nav .dropdown {
    position: absolute;
    margin-left: 0;
    background: #b2b2b2;
    z-index: 10;
    padding: -1px;
    margin-top: 24px;
    width: 100%;
  }
  nav .nav .dropdown li {
    display: inline-block;
    margin-right: 20px;
    padding: 25px 0;
  }
  nav .nav .dropdown li a {
    color: #212121;
    text-decoration: underline;
  }
  nav .nav .dropdown li a:hover {
    background: none;
    text-decoration: none;
  }
  nav .nav .dropdown li:first-child {
    background: none;
  }
  nav .nav .dropdown li:nth-child(2) {
    background: none;
  }
  nav .nav .dropdown:before {
    content: '';
    border: 12px solid transparent;
    border-bottom: 12px solid #b2b2b2;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    top: -24px;
    width: 0;
  }
  nav .nav .dropdown {
    display: none;
  }
  nav .nav > li:hover .dropdown {
    display: block;
  }
  .main {
    text-align: center;
  }
  .main .icons .icon {
    margin-left: 0;
  }
  .main .icons .icon_4 {
    margin-top: -41%;
  }
  .main .icons .icon_3 {
    margin-top: 20%;
  }
  footer {
    margin-top: 50px;
    background: #191919;
    color: #b4b4b4;
  }
  footer .logo {
    margin-bottom: 50px;
  }
  footer a {
    color: #b4b4b4;
    text-decoration: underline;
  }
  footer a:hover {
    color: #b4b4b4;
  }
  footer a:focus {
    color: #b4b4b4;
  }
  footer a:visited {
    color: #b4b4b4;
  }
  footer ul li {
    margin-top: 8px;
  }
  footer button {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    margin-top: 5px;
  }
  footer .first {
    border-bottom: 1px solid #5e5e5e;
    text-align: center;
  }
  footer .left {
    border-left: 1px solid #5e5e5e;
    border-right: 1px solid #5e5e5e;
  }
  footer .social {
    border-left: 1px solid #5e5e5e;
    margin-left: -1px;
  }
  footer .icon {
    position: relative;
    margin-left: 57%;
    margin-top: 2%;
  }
  footer .phone {
    float: right;
  }
}
@media (width: 1024px) {
  nav .col-md-offset-5 button {
    width: 127%;
    margin-left: 15%;
  }
  footer .container .last {
    margin-top: 20px;
  }
}
